:root {
  --Icon_Color: brightness(0) invert(0);
}
.Icon {
  /* --Icon_Color: brightness(0) invert(1); */

  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  background-size: contain;
  filter: var(--Icon_Color);

  &--interactive {
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
  &--white,
  .Icon--white-NOTIFICATION & {
    filter: brightness(0) invert(1);
  }
  &--black,
  .Icon--black-NOTIFICATION & {
    filter: brightness(0) invert(0);
  }
  &--close {
    background-image: url("../assets/icon_close2.svg");
  }
}
