:root {
  /* --DefaultBackgroundColor: #f9fafb; */
  --DefaultBackgroundColor: #f1fdff;
  --DefaultColor: #121212;
  --DefaultLinkColor: #3c6dff;
  --DefaultBorderColor: color(var(--DefaultColor) a(5%));
  --DefaultFontFamily: "Barlow", "Barlow Condensed", "Rubik", "Chivo",
    "Barlow Semi Condensed", "Work Sans", "Karla", "Playfair Display", system-ui;
  --DefaultTransition: 0.3s;
  /* --DefaultBoxShadow: 0 1px 1px #ccc, 0 1px 3px #ddd; */
  --DefaultBoxShadow: rgba(0, 0, 0, 0.25) 0 4px 8px -4px,
    rgba(0, 0, 0, 0.25) 0 0 1px;
  --DefaultBorderRadius: 0.2rem;
}

.Theme--mode-white {
  --Icon_Color: brightness(0) invert(0);
}
.Theme--mode-black {
  --Icon_Color: brightness(0) invert(1);
}

.SymbolDetails {
  --SymbolDetails_BackgroundColor: #fff;
  --SymbolDetails_Color: #222;
  --SymbolDetails_Width: 22rem;
  --SymbolDetails__Buttons_BackgroundColor: #f5f5f5;
  --SymbolDetails__Buttons_BackgroundColor--Active: #f0f0f0;

  .Theme--mode-black & {
    --SymbolDetails_BackgroundColor: #000;
    --SymbolDetails_Color: #fff;
    --SymbolDetails__Buttons_BackgroundColor: #222;
    --SymbolDetails__Buttons_BackgroundColor--Active: #333;
  }
}

.SymbolSearch {
  --SymbolSearch_BackgroundColor: #f9f9f9;
  --SymbolSearch_BackgroundColor--Hover: #f5f5f5;
  --SymbolSearch_BackgroundColor--Active: #f0f0f0;
  --SymbolSearch_BackgroundColor--Selected: #e8e8e8;
  --SymbolSearch--Selected-Text: "G?steriliyor";

  .Theme--mode-black & {
    --SymbolSearch_BackgroundColor: #222;
    --SymbolSearch_BackgroundColor--Hover: #333;
    --SymbolSearch_BackgroundColor--Active: #444;
    --SymbolSearch_BackgroundColor--Selected: #111;
  }
}
